@{
    ViewData["Title"] = "Danh sách nhân viên";
}

@section Links {
    <link rel="stylesheet" href="~/assets/css/course.css">
}

<div class="container">
    <div class="table-container m-4 table-responsive">
        <h4 class="text-center mb-4 mt-2 text-danger" style="font-size:30px;font-weight:bold;">DANH SÁCH NHÂN VIÊN</h4>
        <div class="d-flex justify-content-between mb-3 align-items-center flex-wrap gap-2">
            
            <a asp-action="Create" asp-controller="Employee" class="btn btn-add-course">+ Thêm nhân viên</a>
        </div>

        <!-- Table to display employee data using DataTable -->
        <table id="employeeTable" class="table table-striped">
            <thead class="table-primary">
                <tr class="table-primary">
                    <th>Full Name</th>
                    <th>Phone No</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be loaded dynamically by DataTable -->
            </tbody>
        </table>
    </div>
</div>

@section Scripts {

    <script>
            var table = $('#employeeTable').DataTable({
                "processing": true,
                "serverSide": true,
                "searching": true,  // Enable the default search box of DataTable
                "ajax": {
                    "url": '@Url.Action("_GetList", "Employee")', // AJAX call to _GetList action
                    "data": function (d) {
                        d.keyword = $('input[type="search"]').val(); // Pass the search keyword to the server
                    },
                    "type": "GET"
                },
                "pageLength": 10, // Default page size
                "lengthMenu": [10, 25, 50, 100], // Options for page size
                "columns": [
                    { "data": "FullName" },
                    { "data": "PhoneNo" },
                    { "data": "Email" },
                    { "data": "Gender" },
                    { "data": "PositionName" },
                    { "data": "StatusName" },
                    {
                        "data": "Id", 
                        "render": function (data, type, row) {
                            // Create the "Edit" button with dynamic link
                            return `
                            <a href="/Employee/Edit/` + data + `" class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i></a>
                            <button onclick="deleteRow(`+data+`)" class="btn-delete btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                            `;
                        }
                    }
                ]
            });

            async function deleteRow(id) {
                if (id) {
                    let confirmed = await confirmAction();
                    if (confirmed) {
                        $.ajax({
                            url: '@Url.Action("Delete", "Employee")',
                            method: 'post',
                            data: { id },
                            success: function (response) {
                                if (response.success) {
                                    table.ajax.reload(null, false);
                                } else {
                                    showAlert("error", "Có lỗi", response.error);
                                }
                            },
                            error: function (error) {
                                showAlert("error", "Có lỗi", error);
                            }
                        });
                    }
                }
            };


            
        
    </script>
}
